/* center signup form */
body{
  background-color: rgb(42, 220, 42);
  margin: 0px;
  padding: 0px;
  background-position:  center;
}

.signup-form {
    margin: 0 auto;
    width: 350px;

  }
  
  /* form input fields */
  .form-input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* form submit button */
  .form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .form-submit:hover {
    background-color: #3e8e41;
  }
  
  /* error message */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* success message */
  .success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }
  .container{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    width: 50%;
    height: 90%;

  }
  .container h2{
    color: rgb(42, 220, 42);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-align: center;
    
    
  }
  .container label{
    color: rgb(42, 220, 42);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
  }
  .form-control{
   
    border-radius: 5px;
    width: 100%;
    border:2px solid #aaa;
    padding: 10px 90px 10px 0px;
    margin: 8px 0;
    outline: none;
    box-sizing: border-box;

  }
  .form-control:focus{
    border-color:20px rgb(42, 220, 42);
    box-shadow:  0px 0px 15px 0px #1dc422;
   

  }
  .container button{
    margin: 20px 50px;
    padding: 15px 0;
    width: 200px;
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(42, 220, 42) ;
    background: transparent;
    cursor:pointer;
    overflow: hidden;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    border-radius: 5px;

    
  }
  span{
    background:rgb(42, 220, 42) ;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  button:hover span{
    width: 100%;
  }
  .container a{
    font-size: medium;
    color: rgb(42, 220, 42);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
  }